@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
    font-family: 'Cascadia Code';
    src: url('/assets/fonts/CascadiaCode.ttf') format('truetype');
}

#codeArea, #codeContainer pre {
    font-family: 'Cascadia Code', sans-serif;
    outline: none;
    resize: none;
    border: 0;
    white-space: pre;
    scrollbar-width: thin;
    scrollbar-color: #303030 #202020;
    color: #f8f8f2 !important;
}
#codeArea::-webkit-scrollbar {
    width: 4px;
}
#codeArea::-webkit-scrollbar-track {
    background: #202020;
}
#codeArea::-webkit-scrollbar-thumb, #codeArea::-webkit-scrollbar-thumb:hover  {
    background: #303030;
}
