@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
    font-family: 'Cascadia Code';
    src: url('/assets/fonts/CascadiaCode.ttf') format('truetype');
}

#codeArea {
    font-family: 'Cascadia Code', sans-serif;
    outline: none;
    resize: none;
    border: 0;
    white-space: pre;
    scrollbar-width: thin;
    scrollbar-color: #303030 #202020;
    color: #f8f8f2 !important;
}
#codeArea::-webkit-scrollbar {
    width: 4px;
}
#codeArea::-webkit-scrollbar-track {
    background: #202020;
}
#codeArea::-webkit-scrollbar-thumb, #codeArea::-webkit-scrollbar-thumb:hover  {
    background: #303030;
}
.hljs {
    display: block;
    overflow: auto;
    background: #202020;
    color: #f8f8f2 !important;
}
.hljs-built_in, .hljs-selector-tag, .hljs-section, .hljs-link {
    color: #8be9fd;
}
.hljs-keyword {
    color: #ff79c6;
}
.hljs, .hljs-subst {
    color: #f8f8f2;
}
.hljs-title, .hljs-attr, .hljs-meta-keyword {
    font-style: italic;
    color: #50fa7b;
}
.hljs-string, .hljs-meta, .hljs-name, .hljs-type,
.hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
    color: #f1fa8c;
}
.hljs-comment, .hljs-quote, .hljs-deletion {
    color: #6272a4;
}
.hljs-keyword, .hljs-selector-tag,
.hljs-literal, .hljs-title, .hljs-section, .hljs-doctag, .hljs-type, .hljs-name, .hljs-strong {
    font-weight: bold;
}
.hljs-literal, .hljs-number {
    color: #bd93f9;
}
.hljs-emphasis {
    font-style: italic;
}