<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="robots" content="noindex">

    <title>AsthoBin</title>

    <link rel="stylesheet" href="/static/assets/css/tailwind/index.css">
    <link href="/static/assets/fonts/CascadiaCode.ttf">
</head>
<body class="w-screen h-screen bg-dark-2 overflow-hidden">
    <div class="top-0 right-0 fixed flex justify-center items-center text-white mt-6 mr-6 p-2 space-x-4 cursor-pointer bg-dark-1 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:opacity-80" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" onclick="generateTxtFile();">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:opacity-80" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg></a>
    </div>
    <pre class="hidden" id="codeAreaPre"><code class="w-screen h-screen p-8" id="codeArea" spellcheck="false">{{ code }}</code></pre>
    <script src="/static/assets/javascript/highlight.min.js"></script>
    <script>
        hljs.highlightElement(document.getElementById('codeArea'));
        setTimeout(() => document.getElementById('codeAreaPre').classList.remove('hidden'), 100);
        generateTxtFile = () => {
            let data = new Blob([document.getElementById('codeArea').textContent], {type: 'text/plain'});
            const objectURL = window.URL.createObjectURL(data);
            let a = document.createElement('a');
            a.style.display = 'none';
            a.href = objectURL;
            a.download = window.location.pathname.split('/')[1] + '.txt';
            a.click();
            window.URL.revokeObjectURL(objectURL);
        }
    </script>
</body>
</html>