name: Mirror GitHub repository to GitLab repository

on:
  push:
  workflow_dispatch:

jobs:
  mirror-github-to-gitlab:
    runs-on: ubuntu-latest
    name: Mirror GitHub repository to GitLab repository
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure git
        run: |
          git config user.name "git"
          git remote add gitlab https://${{ secrets.GITLAB_REPOSITORY_USERNAME }}:${{ secrets.GITLAB_REPOSITORY_TOKEN }}@gitlab.com/Asthowen/AsthoBin.git

      - name: Push branches to GitLab
        run: |
          git fetch --prune
          git push gitlab --all

      - name: Push new tags only
        run: |
          remote_tags=$(git ls-remote --tags gitlab | awk '{print $2}')
          
          for tag in $(git tag); do
            if ! echo "$remote_tags" | grep -q "refs/tags/$tag"; then
              git push gitlab "$tag"
              echo "Pushed tag $tag!"
            else
              echo "Tag $tag already exists, skipping"
            fi
          done